.fr-dropdown {
  position: relative;
  display: inline-block;

  @media (max-width: 48em) {
    position: unset;
  }
}

.fr-dropdown__btn::after {
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  background-color: currentcolor;
  width: var(--icon-size);
  height: var(--icon-size);
  mask-size: 100% 100%;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='m12 13.172 4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z'/%3E%3C/svg%3E");

  --icon-size: 1rem;

  content: '';
  margin-left: 0.5rem;
  margin-right: 0;
  transition: transform 0.3s;
}

.fr-dropdown__btn[aria-expanded='true']::after {
  transform: rotate(-180deg);
}

.fr-dropdown__pane .fr-btn {
  background-color: transparent;
}

.fr-dropdown__modal {
  .fr-btn {
    background-color: transparent;
  }

  & > ul {
    list-style-type: none;
    padding: 0;

    & > li .fr-btn {
      font-weight: normal;
      color: var(--text-action-high-grey);
      width: 100% !important;
      padding: 0.75rem !important;
      margin: 0 !important;

      --hover: inherit;
      --active: inherit;

      border-bottom: 1px solid var(--border-default-grey);
    }
  }
}

.fr-dropdown__pane {
  pointer-events: none;
  position: absolute;
  z-index: calc(var(--ground) + 1750);
  filter: drop-shadow(var(--overlap-shadow));
  top: 100%;

  @media (max-width: 48em) {
    top: unset;
    width: 100%;
  }

  &.fr-collapsing {
    margin-top: 0;
    padding-top: 0;
  }

  & > ul {
    min-width: 17rem;
    pointer-events: auto;
    padding: 0;
    margin: 0;
    background-color: var(--background-overlap-grey);

    --idle: transparent;
    --hover: var(--background-overlap-grey-hover);
    --active: var(--background-overlap-grey-active);

    box-shadow: inset 0 1px 0 0 var(--border-open-blue-france);

    & > li {
      padding: 0;
      text-align: left;

      .fr-btn {
        font-weight: normal;
        color: var(--text-action-high-grey);
        width: 100% !important;
        padding: 0.75rem !important;
        margin: 0 !important;

        --hover: inherit;
        --active: inherit;

        &:focus-visible {
          outline: #0a76f6 solid 2px;
          outline-offset: -2px;
        }
      }
    }
  }
}
