.shareToggle :global(.fr-hint-text) {
  text-align: start !important;
}

.modalContainer :global(.fr-modal__content) {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}

.modalContainer :global(.fr-modal__title) {
  margin: 0;
}
