.noWrap {
  white-space: normal;
  @media (min-width: 48rem) {
    white-space: nowrap;
  }
}

.kpiSkeleton {
  min-height: 188px;
}

.searchCreationSkeleton {
  min-height: 380px;
}

.resourceContentSkeleton {
  min-height: 280px;
}

.resourceContentListSkeleton {
  min-height: 740px;
}
