.privacyTag {
  padding: 6px 8px !important;
}

.profileFollowersModal :global(.fr-modal__title) {
  text-align: start !important;
}

.feedbackLink:hover {
  color: var(--text-action-high-blue-france);
}

.feedbackLink:active {
  background-color: #ededed !important;
}

.link {
  background-image: none;
  color: inherit;
  text-decoration: none;

  &::before {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  &::after {
    content: none;
  }
}

.container {
  position: relative;
}

.container:hover {
  background-color: var(--blue-france-975-75);
  cursor: pointer;
}

.privateContainer {
  height: 5rem;
}

.followButton {
  width: 120px;
  position: relative;
  z-index: 2;
}
