.steps {
  font-size: 12px;

  @media (min-width: 30em) {
    font-size: 16px;
  }
}

.mobileMenuButton {
  box-shadow: none !important;
}

.newsFeedButton {
  background: var(--background-contrast-yellow-tournesol) !important;
  height: 1.5rem !important;
  width: 1.5rem !important;
  display: flex;
  justify-content: center !important;

  @media (min-width: 48em) {
    height: 2rem !important;
    min-height: 2rem !important;
    width: 2.5rem !important;
  }
}
.newsFeedButton:hover {
  background: var(--background-action-low-yellow-tournesol) !important;
}

.headerNewsFeedButton:hover {
  background: none !important;
}

:global(.fr-header .fr-header__tools-links .fr-btn).headerNewsFeedButton {
  padding: 0 !important;
}

.newsFeedIcon {
  color: var(--text-label-yellow-tournesol);
}

.newsFeedIcon::before {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.notificationsContainer {
  background: var(--background-contrast-blue-france);
  border-radius: 50%;
  height: 1rem;
  line-height: 1rem;
  min-width: 1rem;
  position: absolute;
  right: -4px;
  top: -7px;
  width: 1rem;
}

.notificationsCount {
  display: flex;
  justify-content: center;
  background: #0063cb;
  border-radius: 50%;
  color: white;
  font-size: 10px;
  height: 0.75rem;
  line-height: 0.75rem;
  min-width: 0.75rem;
  position: absolute;
  right: -2px;
  top: -5px;
  width: 0.75rem;
}

.newsFeedLabel {
  display: none !important;

  @media (max-width: 900px) {
    display: inherit !important;
  }
}
