.title {
  display: block;

  @media (min-width: 48em) {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-break: break-word;
    overflow-wrap: break-word;
  }
}
