.itemDescription {
  color: var(--text-mention-grey);
  font-size: 14px;
}

.flashLightIconBackground {
  background: var(--background-contrast-yellow-tournesol);
}

.flashLightIconColor {
  color: var(--text-label-yellow-tournesol);
}

.borderContainer {
  @media (min-width: 48em) {
    border-radius: 8px;
    border: 1px solid var(--border-default-grey);
  }
}

.featureItem {
  text-align: center;

  @media (min-width: 48em) {
    text-align: left;
  }
}
