.badge:before {
  margin-right: 0;
  margin-left: 0;
}

.badge {
  width: 1.25rem;
  height: 1.25rem;
  padding: 0 4px;
}

.title {
  display: block;

  @media (min-width: 768px) {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;

    word-break: break-word;
    overflow-wrap: break-word;
  }
}
