.notificationsCount {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0063cb;
  border: 2px solid var(--background-contrast-blue-france);
  border-radius: 0.75rem;
  color: white;
  font-size: 10px;
  height: 1rem;
  line-height: 1;
  min-width: 0.75rem;
  padding: 0 0.25rem;
  position: absolute;
  right: -2px;
  top: -5px;
}

.newsFeedIcon {
  color: var(--text-label-yellow-tournesol);
}

.newsFeedIcon::before {
  font-size: 16px;
}
