.badge {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 20px;
  margin-left: 8px;
  top: 8px;
  left: 100%;

  @media (min-width: 48rem) {
    right: 14px;
    top: 6px;
    left: unset;
    margin-left: 0;
  }
}
