.container {
  @media (min-width: 48rem) {
    min-width: 498px !important;
  }
}

.notificationItem {
  cursor: pointer;
}

.notificationItem:hover {
  background-color: var(--background-alt-grey);
}

.notificationContainer {
  @media (min-width: 48rem) {
    max-height: 560px;
    overflow-y: auto;
  }
}

.headerSeparator {
  border-bottom: none;

  @media (min-width: 48rem) {
    border-bottom: var(--slim-grey-border);
  }
}
