.baseInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  :global .fr-tag {
    flex-shrink: 0;
  }
}

.baseName {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: 768px) {
    align-items: center;
    flex-direction: row;
    gap: 4px;
  }
}
